<%= render 'navbar' %>
<h1><%= @restaurant.name %></h1>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Cuisine:</strong> <%= @restaurant.category %></p>
<%= link_to "<< All restaurants", restaurants_path %>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant) %>

<h2>Reviews for this restaurant:</h2>
<% @restaurant.reviews.each do |review| %>
  <div class="star">
    <% review.rating.times do %>
      <p>⭐️</p>
    <% end %>
  </div>
  <p><%= review.content %></p>
<% end %>
